<div class="container">
  <a href="<%= home_path %>" class="text-black"><i class="fas fa-arrow-left"></i></a>
  <h1 class="text-center">All Users</h1>
  <% unless @users == nil || @users.size < 1 %>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone No</th>
          <th>Address</th>
          <th>Birthday</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <% user.each do |result| %>
              <td><%= result %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center mt-5"><%= @info %></p>
  <% end %>
</div>