// Place all the styles related to the qr_generator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  width: 300px;
  margin: 100px auto;
}
.input {
  margin-top: 10px;
}
.error {
  color: red;
}
.qrcode {
  width: 100px;
  margin: 100px auto;
}
.button {
  display: flex;
  justify-content: center;
}
.link {
  padding: 10px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
}
.link:last-child {
  margin-left: 10px;
}
.link:hover {
  background-color: #faebd7;
}
