<div class="form">
  <h3>Upload Image to generate QR code</h3>
  <%= form_with(url: qr_generator_upload_path, local: true) do |f| %>
    <div class="input">
      <%= f.file_field :image %>
    </div>
    <span class="error"><%= @error %></span>
    <div class="input">
      <%= f.submit "upload" %>
    </div>
  <% end %>
</div>
