<div class="qrcode">
  <img src="/qrcode.png" class="image">
  <div class="button">
    <%= link_to "download", qr_generator_download_path, class: "link" %>
    <%= link_to "back", qr_generator_index_path, class: "link" %>
  </div>
</div>
